
<%= simple_form_for(@task, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :due_date %>
    <%= f.association :category %>
  </div>

  <div class="participants">
    <template data-nested-form-target="template">
      <%= f.fields_for :participating_users, Participant.new, child_index: 'NEW_RECORD' do |participant_fields| %>
        <%= render "participating_user_fields", f: participant_fields %>
      <% end %>
    </template>

    <%= f.simple_fields_for :participating_users do |g| %>
      <%= render 'participating_user_fields', f: g %>
    <% end %>
  </div>

  <!-- Inserted elements will be injected before that target. -->
  <div data-nested-form-target="target"></div>
  <button type="button" data-action="nested-form#add">Add participant</button>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
