<h1>
  Hola <%= @user.email %>, tienes una nueva tarea.
</h1>
<br>
<p>
  <b>Nombre: <%= @task.name %>.</b>
</p>
<p>
  <b>Descripción: <%= @task.description %>.</b>
</p>
<p>
  <b>Categoría: <%= @task.category.name %>.</b>
</p>
<p>
  <b>Enlace: <%= link_to @task.code, @task %>.</b>
</p>
